/*styles.css*/
* {
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    /*background: #7b7979 !important;*/
    background-image: url('../images/blue_wavy_line_with_light_effect_background.png');
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.canvasSize {
    /*width: 100%;*/
    height: 400px;
}

.trainerTitle {
    color: #add4e3;
    font-family: trajan-pro-3, serif;
    font-weight: 700;
    font-style: normal;
}

.startWorkoutButton {
    color: black !important;
    font-family: roboto-slab, serif;
    font-weight: 700;
    font-style: normal;
    background-color: #add4e3 !important;
    width: 7em;
    height: 4em;
    border: none !important;
    margin-left: 1em;
    margin-top: 1em;
    opacity: 85%;
}

.characterButton {
    color: black !important;
    font-family: roboto-slab, serif;
    font-weight: 700;
    font-style: normal;
    background-color: #add4e3 !important;
    width: 5.5em;
    height: 4em;
    border: none !important;
    margin-left: 1em;
    margin-top: 1em;
    opacity: 85%;
}

.removeTop {
    margin-top: -200px
}

/*.characterButton:hover {*/
/*    color: black !important;*/
/*    font-weight: bold !important;*/
/*    background-color: #add4e3 !important;*/
/*    width: 5.5em;*/
/*    height: 4em;*/
/*    border: none !important;*/
/*    box-shadow: 0 0 5px 3px #FFF,*/
/*    0 0 9px 5px #add4e3,*/
/*    0 0 12px 8px #add4e3;*/
/*}*/

.underCanvas {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

}

.actionText {
    color: white;
    font-size: 2em;
    opacity: 95%;
    /*margin-left: 1em;*/
}

.thirtySecondTimerButton {
    color: black !important;
    font-family: roboto-slab, serif;
    font-size: 3em !important;
    font-weight: 700;
    font-style: normal;
    background-color: #ffffff !important;
    width: 3em;
    height: 1.5em;
    border: none !important;
    /*margin-left: 1em;*/
    margin-top: 1em;
    opacity: 95%;
}

.profileText {
    color: white;
    font-size: 2em;
    opacity: .8;
    margin-left: 1em;
}

.progressLevel {
    width: 15em;
}

/*profileInfo styling*/
.profileUserNameText {
    font-family: roboto-slab, serif;
    font-size: 1em !important;
    font-weight: 700;
    font-style: normal;
}
