/*styles.css*/
* {
    box-sizing: border-box;
}

html,
body,
/*#root {*/
/*    width: 5%;*/
/*    height: 5%;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

body {
    background: #000000;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

canvas {
    height: 500px;
    width: 1000px;
}

