.menu-modal {
    width: 90vw !important;
    max-width: 90vw !important;
    /*height: 50vh !important;*/
    /*max-height: 50vh;*/
}

.menuTitleAnimation {
    animation-duration: 15s;
    animation-name: slidein;
    /*animation-iteration-count: infinite;*/
    color: #f9990d;
    font-size: 3rem !important;
    opacity: 1;
}



@keyframes slidein {
    from {
        margin-left: 30%;
        /*opacity: .8;*/
    }

    to {
        margin-right: 0%;
        /*opacity: .8;*/

    }
}

.menuButtonAnimation {
    animation-name: menuButtonAnimationColors;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes menuButtonAnimationColors {
    0% {
        background-color: black;
        color: white;
    }
    50% {
        background-color: white;
        color: black;
    }
    100% {
        background-color: black;
        color: white;
    }
}

.menuButton {
    font-family: roboto-slab, serif;
    font-weight: 700;
    font-style: normal;
    /*align-items: flex-start;*/
}

.inMenuButton {
    font-family: roboto-slab, serif;
    font-weight: 700;
    font-style: normal;
    background-color: darkslategrey !important;
    color: white !important;
}

.signInOutButton {
    font-family: roboto-slab, serif;
    font-weight: 700;
    font-style: normal;
    background-color: #add4e3 !important;
    color: black !important;
}

.resetFormButton {
    font-family: roboto-slab, serif;
    font-weight: 700;
    font-style: normal;
    background-color: teal !important;
    color: black !important;
}

.signUpButton {
    font-family: roboto-slab, serif;
    font-weight: 700;
    font-style: normal;
    background-color: #f9990d !important;
    color: black !important;
}



.menuBackground {
    /*background-color: dimgrey;*/
    background: url("../../../../images/menuBackground.jpg") no-repeat;
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    background-size: 100vw 100vh;
}

.websiteName {
    font-family: roboto-slab, serif;
    font-weight: 700;
    font-style: normal;
}

.signUpBackground {
    background-color: black;
    color: white;
}
