.menu-modal {
    width: 90vw !important;
    max-width: 90vw !important;
    /*height: 50vh !important;*/
    /*max-height: 50vh;*/
}

.menuTitleAnimation {
    animation-duration: 15s;
    animation-name: slidein;
    /*animation-iteration-count: infinite;*/
    color: white;
    font-size: 5em;
    opacity: 1;
}

@keyframes slidein {
    from {
        margin-left: 70%;
        /*opacity: .8;*/
    }

    to {
        margin-right: 50%;
        /*opacity: .8;*/

    }
}

.menuButtonAnimation {
    animation-name: menuButtonAnimationColors;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes menuButtonAnimationColors {
    0% {
        background-color: #add4e3;
        color: white;
    }
    50% {
        background-color: white;
        color: #add4e3;
    }
    100% {
        background-color: #add4e3;
        color: white;
    }
}

.menuButton {
    font-family: roboto-slab, serif;
    font-weight: 700;
    font-style: normal;
}

.menuBackground {
    /*background-color: dimgrey;*/
    background: url("../../../../images/menuBackground.jpg") no-repeat;
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    background-size: 100vw 100vh;
}

.websiteName {
    font-family: roboto-slab, serif;
    font-weight: 700;
    font-style: normal;
}
