.menu-modal {
    width: 90vw !important;
    max-width: 90vw !important
}

.menuTitleAnimation {
    animation-duration: 15s;
    animation-name: slidein;
    /*animation-iteration-count: infinite;*/
    color: black;
    font-size: 3em;
    opacity: 1;
}

.menuBackground {
    background-color: dimgrey;
    /*background-image: url('../../../../images/backgroundMenu.png');*/

}

@keyframes slidein {
    from {
        margin-left: 80%;
        /*opacity: .8;*/
    }

    to {
        margin-left: 0%;
        /*opacity: .8;*/

    }
}
